@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,800;1,900&display=swap');

body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family:'poppins', arial;
    
}
*{
    box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn{
    cursor:crosshair;
    /* I am using this because i love mobile games */
    padding: 7px 10px;
        font-size:20px;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        transition:all 1s;
        display:inline-block;
    position: absolute;
    top: 27px;
    left: 41%;
}
        .btn:after, .btn:before{
            content:" ";
            width:10px;
            height:10px;
            position:absolute;
            border :0px solid rgb(0, 0, 0);
            transition:all 0.7s;
            }
        .btn:after{
            top:-1px;
            left:-1px;
            border-top:2px solid black;
            border-left:2px solid black;
            border-radius:50px;
        }
        .btn:before{
            bottom:-1px;
            right:-1px;
            border-bottom:2px solid black;
            border-right:2px solid black;
            border-radius:50px;
        }
        .btn:hover{
            border-top-right-radius:0px;
        border-bottom-left-radius:0px;
        /* background: black; */
        /* color:white; */
        color:rgb(0, 0, 0);
        }
            .btn:hover:before,.btn:hover:after{
                width:100%;
                height:100%;
             /* border-color:rgb(255, 255, 255); */
             border-color:rgb(0, 0, 0);
            }


.logo{
    width: 80px;
    height: 56.34px;
}
.logotext{
    display:inline-block;
    position: absolute;
    top: 27px;
    left: 42%;
    font-size: 17px;
}
.banner img{
    max-width:100%;
}
.banner{
    position: relative;
}
.banner .welcome{
    position: absolute;
    left:650px;
    top:73.2%;
    /* background-color: rgb(34, 0, 48); */
    /* color:white; */
    padding:0 .5em;
    
} 
.banner h2{
    font-size: 25px;
}
.banner h2 span{
    font-size: 1.3em;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
header{
    /* background-color:rgb(253, 237, 237); */
    padding: 20px;
    /* position:fixed; */
    position:absolute;
    width: 100%;
    z-index: 1; 
    top: 0;
    left: 0;
    /* box-shadow: rgba(0,0,0,0.05)0px 10px 20px, rgba(0,0,0,0.05)0px 6px 6px; */
}
header h1 {
    border: 5px solid rgb(109, 106, 106);
    padding: 6px 12px;
    border-radius: 50px;
}
  
     header h1:hover {  
    transition-duration: 3s;
    transform: rotate(2turn);
}
nav {
    background-color: #F4F4F4;
    
    position: sticky;
    margin-top: -10px;
    /* top: 100px; */
    top:0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 1;    
}
nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
 nav li{
     width:25%;
     display: inline-block;
     font-size: 18px;
     position: relative;
    text-align: center; 
    /* margin-bottom: 12px; */
 }
nav li a{
    text-decoration: none;
    color: rgb(87, 87, 87);
}
nav li a.join{
    color:rgb(250, 157, 157)
}


main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
.featured{
position: relative;
}
.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: -60px;
    left: -50px;
    z-index: -1;
  }
article h2 {
    color:#000000; 
    font-size: 35px;
}
article p{
    line-height:1.7em;
    color: #4b4b4b;
}
.images{ 
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}   
.images1{ 
    text-align: center;
    margin: 0px 0;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.images1 li{
    display: inline-block;
    width: 65%;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
.images1 li img{
    max-width: 100%;
}
section.join{
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.join h2{
    font-size: 36px;
}
form input{
    margin: 20px 0;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 35px;
    border: 4px solid white;
}
footer{
    background: rgb(253, 237, 237);
    padding:10px;
    text-align:center; 
}
/*pseudo classes*/
nav li a:hover{
    /* font-size:1.2em; */
    color: rgb(0, 0, 0);
    /* padding:3px ;  */
    transition: 0.4s;
}

  
nav li a:after {
    content: "";
    display: block;
    opacity: 0;
    background-color: #303030;
    width: 30%;
    height: 3px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0px;
  /*   position: absolute; */
    bottom: 0px;
  }
   nav li a:hover:after { 
    opacity: 1;
    animation: expand .2s;
   }
  @keyframes expand {
    from {
      width: 15%;
    }
    to {
      width: 30%;
    }
}
  
.logo:hover{
    position:relative;
    top:-2px;
}
.images li:hover{
    position: relative;
    top:-4px;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline:none;
}
form input:valid{
    border: 4px solid #71d371   
}
p::selection{
    background-color: blanchedalmond;
    color: black;
}
h2 p::after{
    content: '...';
}
/* .move1{
    display: flex;
} */

.move{
    margin-left: 100px;

}

/* responsive styles */

@media screen and (max-width:1200px){
    
    .banner .welcome h2{
        font-size:20px;
    }  
    .move{
        margin-left: -250px;
    }
}

@media screen and (max-width:1025px){
    
    .banner .welcome h2{
        font-size:20px;
    }  
    .move{
        margin-left: -150px;
    }
}
@media screen and (max-width:900px){
    
    .banner .welcome h2{
        font-size:16px;
    }  
    .move{
        margin-left: -290px;
    }
    
}
@media screen and (max-width:860px){
    
    .banner .welcome h2{
        font-size:12px;
    } 
}
@media screen and (max-width:760px){
    
    .banner .welcome h2{
        font-size:7px;
    } 
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}
@media screen and (max-width:660px){
    
    .banner .welcome h2{
        font-size:7px;
    }
    .banner .welcome{
        padding: 20px;
    } 
}
@media screen and (max-width:566px){
    
    .banner .welcome h2{
        font-size:7px;
    } 
    /* .banner .welcome{
        padding: 20px;
    }  */
}
@media screen and (max-width:486px){
    
    .banner .welcome h2{
        font-size:7px;
    } 
    .banner .welcome{
        padding: 15px;
    } 
    .btn{
      
        font-size: 9px;
        top: 80px;
        left: 110px;
        display:inline-block;
        position: relative;
    }  
    .logo{
        width: 80px;
        height: 56.34px;
        display: block;
        position: absolute;
        right: 5px;
    }

    svg {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 140px;
    }
}
@media screen and (max-width:411px){
    
    .banner .welcome h2{
        font-size:7px;
    } 
    .banner .welcome{
        padding: 10px;
    } 
}
@media screen and (max-width:306px){
    
    .banner .welcome h2{
        font-size:7px;
    } 
    .banner .welcome{
        padding: 5px;
    } 
}
@media screen and (max-width:388px){
    .btn{
      
        font-size: 9px;
        top: 70px;
        left: 90px;
        /* display:inline-block; */
        position: relative;
    }  
    .logo{
        width: 80px;
        height: 56.34px;
        display: block;
        position: absolute;
        right: 5px;
    }

    svg {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 140px;
    }
    
}


@media screen and (max-width:247px){
    .banner .welcome{
        position: relative;
    } 
    
}
@media screen and (max-width:370px){
    nav li{
        font-size:20px;
        position: relative;
        display: block;
        width: 100;
        margin:5px 0px;
        padding:2px 0px;
    }
}
@media screen and (max-width:700px){
    /* header{
        position: relative; 
    }*/
    nav {
        top: 0px;    
    }
    
}
@media screen and (max-width:336px){
    form input{
        margin: 20px 0;
        padding: 20px 20px;
        font-size: 15px;
    } 
}
@media screen and (max-width:281px){
    form input{
        margin: 15px 0;
        padding: 15px 15px;
        font-size: 10px;
    } 
}
@media screen and (max-width:210px){
    form input{
        margin: 10px 0;
        padding: 10px 10px;
        font-size: 10px;
    } 
}
@media screen and (max-width:191px){
    form input{
        margin: 7px 0;
        padding: 7px 7px;
        font-size: 7px;
    } 
}

@media screen and (max-width:447px){
    .banner .welcome{
        left:180px;
        top: 9em;
        width: 20px;
        
        
    }



}

.circle{
    animation: circleAnim 1s infinite alternate-reverse;
}
@keyframes circleAnim {
    from {
        transform: translate(262px, 798px);
        z-index:5;
    }
    to {
        transform: translate(262px, 830px);
    }
    
}
    
    

